<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>

<div id= "forum_align">
<h1>New recipe</h1>

<%= render 'form' %>

<%= link_to 'Back', category_recipes_path(@category) %>

</div>
