<body>
	<div id="mydiv">
		<fieldset>
			
		</fieldset>
	</div>
	<div id="mydiv2">
	<p id="pgraph">	
	<table>
		<tr>
			<td>
				<table border="1" class="out" id="tbl">
					<tr>
						<th>
							Upcoming Events
						</th>
					</tr>
					<tr>
						<td>
							<a href=../events>Events 1</a>
						</td>
					</tr>
					<tr>
						<td>
							Event 2
						</td>
					</tr>
					<tr>
						<td>
							Event 3
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table border="1" id="tbl" class="out">
					<tr>
						<th>
							Twitter Feed
						</th>
					</tr>
					<tr>
						<td>
							@dragonPhoung "I love Hunger Games
						</td>
					</tr>
					<tr>
						<td>
							@jkeen_theGreenEyedAssasion "I love Cheeasecake"
						</td>
					</tr>
					<tr>
						<td>
							@johhnnybones "I've never seen any movie ever"
						</td>
					</tr>
				</table>
				<td>
				<table border="1" class="out" id="tbl">
					<tr>
						<th>
							Gyms Near You
						</th>
					</tr>
					<tr>
						<td>
							<a href=../gyms/index>Map Of Gym</a>
						</td>
					</tr>
				</table>
				</td>
			</td>
		</tr>
	</table>
	</p>
	</div>
</body>
