<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
<h>
<br>
    <div id="newevent">
    New Event
    </div> 
</h>  

<%= render 'form' %>

<%= link_to 'Back', events_path %>
