<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
<script type="text/javascript">
    $(function () {
        $("[data-toggle='title']").tooltip();
    });
</script>
<div id="mobileexercise">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Click on a Body Part to see Workouts</th>	     
    </tr>
  </thead>

  <tbody>
    <tr>
    	<td>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/13/muscle/abdominals" target="_blank">Abdominals</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/7/muscle/quadriceps" target="_blank">Quadriceps</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/1/muscle/chest" target="_blank">Chest</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/11/muscle/traps" target="_blank">Traps</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/6/muscle/neck" target="_blank">Neck</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/12/muscle/shoulders" target="_blank">Shoulders</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/15/muscle/biceps" target="_blank">Biceps</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/2/muscle/forearms" target="_blank">Forarms</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/10/muscle/triceps" target="_blank">Triceps</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/3/muscle/lats" target="_blank">Lats</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/4/muscle/middle-back" target="_blank">Middle-Back</a>    		
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/5/muscle/lower-back" target="_blank">Lower-Back</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/14/muscle/glutes" target="_blank">Glutes</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/8/muscle/hamstrings" target="_blank">Hamstrings</a>
    		<a href="http://www.bodybuilding.com/exercises/finder/lookup/filter/muscle/id/9/muscle/calves" target="_blank">Calves</a>
    	</td>
    </tr>
  </tbody>
</table>
</div>

