<h1 align="center">Gyms Near You</h1>

<div style="float: left; margin-left: 20%;">
<fieldset align="left">
	<legend align="center">Gyms List</legend>
	<ul>
		<li><a href="http://www.anytimefitness.com/">Anytime Fitness</a></li>
		<li><a href="http://www.factorxfitness.com/">FitnesXFactor</a></li>
	</ul>
</fieldset>
</div>

