/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require style
 *= require navstylechange 
 *= require settings 
 *= require fullcalendar 
 *= require introjs
 *= require_tree .
 */
html, body {
  background-color: #5F5F5F;
  display:block;
  margin:0;
  padding:0;
}

.table-striped td {
  background-color: beige;
  text-align: center;
  font-size: .50em;
  
}
.table-striped th {
  background-color: beige;
  text-align: center;
  color: black;
  font-size: .65em;
}
.forum-striped td {
  background-color: beige;
  color: black;
  text-align: center;
  font-size: .50em;
  
}
.forum-striped th {
  background-color: lightgrey;
  text-align: center;
  color: blue;
  font-size: .65em;
}

#mainbackground {

  background-color: #5F5F5F;
  display:block;
  margin:0;
  padding:0;
  
  .container {
    position: absolute;
    width: 12%;
    height: 10%;
    margin-top: auto;
    margin-left: 1%;   
  }
  
  .container img {
    width: 100%;
    height: auto;
  }

  #banner {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: red;
    border: solid;
    border-color: black;
  }  
  
  #newevent {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: #00FF99;
    border: solid;
    border-color: black;
  }
  #newcategory {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 23px/23px "Times New Roman", serif;
    text-align: left;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
  }
  
  #newevent2 {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
  }
  
  #newevent8 {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
    clear: left;
  }
  #exercise {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
  }
  
  #newevent6 {
    padding: 1%;
    margin-top: 1%;
    margin-left: 16.5%;
    margin-right: 0%;
    width: 15%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
    float: left;
  }
  
  #newevent7 {
    padding: 1%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: auto;
    margin-bottom: 2%;
    width: 50%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
    float: left;
  }
  
  #newevent9 {
    padding: 1%;
    margin-top: 1%;
    margin-left: 16.5%;
    margin-right: auto;
    margin-bottom: 2%;
    width: 50%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
    float: left;
  }
  
  #rat {
    font-size: x-small;
    color: black;
    font: "Times New Roman", serif;
  }
  #showevent {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font: small-caps 20px/20px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
  }
  #listusers {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
  }
  #forumsshow {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
    //column-width: 70%;
  }

  #categories {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 20px/20px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
  }
  #forums {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 20px/20px "Times New Roman", serif;
    text-align: center;
    color: #00FF99;
    background: black;
    border: solid;
    border-color: #00FF99;
  }
  #newevent3 {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
  }
  
  #eventtable {
    padding: 1%;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 2%;
    width: 45%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: #00FF99;
    border: solid;
    border-color: black;
    float: left;
    display: table;
    clear: left;
    display: none;
  }
  #newevent4 {
    padding: 1%;
    margin-top: 1%;
    margin-left: 10px;
    margin-right: auto;
    width: 67%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
    float: left;
  }
  #twitter {
    padding: 1%;
    margin-top: 2%;
    width: 45%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: beige;
    border: solid;
    border-color: black;
    float: right;
    display: none;
    
    
  }
  
  #neweventchoose {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font: small-caps 20px/20px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: grey;
    border: solid;
    border-color: black;
  }
  
  
  
  #linksbar {
    padding: 1%;
    width: 60%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    tr {height: 100px;}
    font: small-caps 16px/16px "Times New Roman", serif;
    text-align: center;
    word-spacing: 20px;
    a:link {color: #000000;}
    border: solid;
    background: red;
    border-color: black;
  }
  
  #gmaps {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: beige;
    border: solid;
    border-color: black;

    
  }
  #gmaps2 {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    background: beige;
    border: solid;
    border-color: black;
    text-align: center;
    
  }
  
  #calendarback {
    padding: 1%;
    margin-left: 16.5%;
    margin-right: 16.5%;
    background: white;
    border: solid;
    background: beige;
    border-color: black;
  }
  
}