// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list_image_categ {
 width: 200px;
 height: 200px;
 }
 
.list_image_categ:hover {
  width: 210px;
  height: 210px;
  
}
