// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
  
  html, body {
  background-color: #B0B0B0;
}

#mainbackground {

  background: #B0B0B0;
  
  .container {
    position: absolute;
    width: 12%;
    height: 10%;
    margin-top: auto;
    margin-left: 1%;   
  }
  
  .container img {
    width: 100%;
    height: auto;
  }

  #banner {
    padding: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    font: small-caps 30px/30px "Times New Roman", serif;
    text-align: center;
    color: black;
    background: red;
    border: solid;
    border-color: black;
  }  
  
  #linksbar {
    padding: 1%;
    width: 60%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    tr {height: 100px;}
    font: small-caps 16px/16px "Times New Roman", serif;
    text-align: center;
    word-spacing: 20px;
    a:link {color: #000000;}
    border: solid;
    background: red;
    border-color: black;
  }
  
}

