// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#recipes_align { 
margin-top:90px; 
margin-left:5%; 
margin-right:5%; 
}

.list_image {
 width: 90px;
 height: 90px;
 }