
<div id="mobilenutrition">
<h1>Listing categories</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Image</th>	
      <th>Name</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
      	<td><%= link_to image_tag(category.imagesrc, class: 'list_image_categ'), category_recipes_path(category), 'data-no-turbolink' => true %></td>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category_recipes_path(category), class: 'btn btn-info', 'data-no-turbolink' => true %>
		</td>
       
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

</div>

</div>
<div id= "forum_align">

<%= will_paginate @categories %>
</div>
</div>